<div class="container content-panel">
    <div class="row">
        <div class="col-md-12">
            <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non lectus urna. Aenean venenatis tristique elit vel sodales. Pellentesque vel eros sed tortor tincidunt semper.</p>
        </div>
            <div class="col-md-4">
                <div class="info-tile">
                    <h3 class="text-center text-uppercase">Step 1</h3>
                    <img src="assets/images/img_step.jpg" class="img-responsive">
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-tile">
                    <h3 class="text-center text-uppercase">Step 2</h3>
                    <img src="assets/images/img_step2.jpg" class="img-responsive">
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-tile">
                    <h3 class="text-center text-uppercase">Step 3</h3>
                    <img src="assets/images/img_step3.jpg" class="img-responsive">
                </div>
            </div>
    </div>
  
  
  </div>