<div class="container content-panel">
    <div class="row">
        <div class="col-md-12">
            <p class="lead text-center">Welcome to INFLO! This is a service that compares county data across the United States.</p>
        </div>
            <div class="col-md-4">
                <div class="info-tile text-center">
                    <h3 class="text-uppercase">Search for county</h3>
                    <img src="assets/images/step1.png" class="text-center">
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-tile text-center">
                    <h3 class="text-uppercase">View the score</h3>
                    <img src="assets/images/step2.png" class="text-center">
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-tile text-center">
                    <h3 class="text-uppercase">Explore the details</h3>
                    <img src="assets/images/step3.png" class="text-center">
                </div>
            </div>
    </div>
  </div>