<div class="container content-panel">
    <div class="row">
        <div class="col-md-12">
            <p class="lead text-center">Welcome to INFLO! This is a service that compares county data across the United States.</p>
        </div>
        <div class="col-md-4">
            <div class="info-tile">
                <img src="assets/images/step1.jpg" class="img-responsive">
            </div>
        </div>
        <div class="col-md-4">
            <div class="info-tile">
                <img src="assets/images/step2.jpg" class="img-responsive">
            </div>
        </div>
        <div class="col-md-4">
            <div class="info-tile">
                <img src="assets/images/step3.jpg" class="img-responsive">
            </div>
        </div>
    </div>
  
  
  </div>